<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>75 Bugs Detected</title>
</head>

<body>
    <header class="header">
        <a href="/home">
            <h1 class="site-title">75 Bugs Detected</h1>
        </a>

        <nav class="navbar" id="top-navbar">
            <ul class="navlist" id="top-navbar-list">
                <li class="navitem navlink" id="top-navbar-item"><a href="/employees">Employees</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/customers">Customers</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/payments">Payments</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/services">Services</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/gear">Gear</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/certs">Certifications</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/assignments">Assignments</a></li>
            </ul>
        </nav>
    </header>

    <main class="big-container">

        <article class="container" id="container">
            <h2>Add Customer</h2>
            <form id="addcustomer" action="/customers" method="post">
                First name: <input type="text" name="firstName"><br>
                Last name: <input type="text" name="lastName"><br>
                Phone number: <input type="text" name="phone"><br>
                Address Line 1: <input type="text" name="address1"><br>
                Address Line 2: <input type="text" name="address2"><br>
                City: <input type="text" name="city"><br>
                State: <input type="text" name="state"><br>
                Zip: <input type="text" name="zip"><br>
                Current Bill: <input type="number" name="currentBill"><br>
                <input type="submit" value="Submit">
            </form>
        </article>

        <form id = 'filer_customers' action="" method="" >
          <label>Find customers with a bill higher than a specified amount:</label>
          <input id="search_amount" type="number" name="search_amount" value="">
          <input type="button" value="Search" onclick="searchCustomersByBill()">
        </form>


        <article class="container" id="container">
            <h2>Customers</h2>
            <input type="text" placeholder="Filter by Customer ID">
            <button type="button" id="search-button">Search</button>
            <input type="text" placeholder="Filter by first name">
            <button type="button" id="search-button">Search</button>
            <input type="text" placeholder="Filter by last name">
            <button type="button" id="search-button">Search</button><br>

        <table style="width:100%" id="display-table">
            <thead>
                <th>Customer ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Address Line 1</th>
                <th>Address Line 2</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
                <th>Current Bill</th>
            </thead>
            <tbody>
                {{#each customers}}
                <tr>
                    <td>{{customerID}}</td>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{phone}}</td>
                    <td>{{address1}}</td>
                    <td>{{address2}}</td>
                    <td>{{city}}</td>
                    <td>{{state}}</td>
                    <td>{{zip}}</td>
                    <td>{{currentBill}}</td>
                    <td><a id="update-button" href="/customers/{{customerID}}">Update</a></td>
                    <td><button onclick="deleteCustomer({{customerID}})">Delete</td>
                </tr>
                {{/each}}
            </tbody>
          </table>

        </article>

      </main>

</body>

</html>
