<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>75 Bugs Detected</title>

    <link rel="stylesheet" href="style.css" media="screen">
</head>

<body>
    <header class="header">
        <a href="/home">
            <h1 class="site-title">75 Bugs Detected</h1>
        </a>

        <nav class="navbar" id="top-navbar">
            <ul class="navlist" id="top-navbar-list">
                <li class="navitem navlink" id="top-navbar-item"><a href="/employees">Employees</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/customers">Customers</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/payments">Payments</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/services">Services</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/gear">Gear</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/certs">Certifications</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/assignments">Assignments</a></li>
            </ul>
        </nav>
    </header>

    <main class="big-container">


        <article class="container" id="container">
            <h2>Add Employee</h2>
            <form id = "addemployee" action = "/employees" method = "post">
              First name: <input type="text" name="firstName"><br>
              Last name: <input type="text" name="lastName"><br>
              Phone number: <input type="text" name="phone"><br>
              Payment method: <input type="text" name="paymentInfo"><br>
              Hours worked: <input type="number" name="hoursWorked"><br>
              <input type="submit" value="Submit">
            </form>
            <!-- <button type="button" id="button">Add</button> -->
        </article>

        <article class="container" id="container">
            <h2>Delete Employee</h2>
            <input type="text" id="entry-box" placeholder="Search by Employee ID">
            <button type="button" id="search-button">Search</button><br>
            <button type="button" id="button">Delete</button>
        </article>

        <article class="container" id="container">
            <h2>Employees</h2>
            <input type="text" placeholder="Filter by Employee id">
            <button type="button" id="search-button">Search</button>
            <input type="text" placeholder="Filter by first name">
            <button type="button" id="search-button">Search</button>
            <input type="text" placeholder="Filter by last name">
            <button type="button" id="search-button">Search</button><br>

            <table style="width:100%" id="display-table">
              <thead>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Payment Info</th>
                <th>Hours Worked</th>
              </thead>
              <tbody>
                {{#each employees}}
                <tr>
                  <td>{{employeeID}}</td>
                  <td>{{firstName}}</td>
                  <td>{{lastName}}</td>
                  <td>{{phone}}</td>
                  <td>{{paymentInfo}}</td>
                  <td>{{hoursWorked}}</td>
                </tr>
                {{/each}}
              </tbody>

                <!-- <tr id="display-table-row">
                    <th id="display-table-item">ID Number</th>
                    <th id="display-table-item">First Name</th>
                    <th id="display-table-item">Last Name</th>
                    <th id="display-table-item">Phone Number</th>
                    <th id="display-table-item">Payment Method</th>
                    <th id="display-table-item">Hours Worked</th>
                </tr>
                <tr id="display-table-row">
                    <td id="display-table-item">1</td>
                    <td id="display-table-item">John</td>
                    <td id="display-table-item">Smith</td>
                    <td id="display-table-item">503-555-5555</td>
                    <td id="display-table-item">DD</td>
                    <td id="display-table-item">100</td>
                </tr> -->
            </table>

        </article>

    </main>


</body>

</html>
