<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>75 Bugs Detected</title>
</head>

<body>
    <header class="header">
        <a href="/home">
            <h1 class="site-title">75 Bugs Detected</h1>
        </a>

        <nav class="navbar" id="top-navbar">
            <ul class="navlist" id="top-navbar-list">
                <li class="navitem navlink" id="top-navbar-item"><a href="/employees">Employees</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/customers">Customers</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/payments">Payments</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/services">Services</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/gear">Gear</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/certs">Certifications</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/assignments">Assignments</a></li>

            </ul>
        </nav>
    </header>

    <main class="big-container">


        <article class="container" id="container">
            <h2>Add Gear</h2>
                <form id="addgear" action="/gear" method="post">
                    <!-- Gear ID: <input type="text" name="gear"><br> -->
                    Type: <input type="text" name="gearType"><br>
                    Last Service Date: <input type="text" name="lastServiceDate"><br>
                    Checked Out by Employee ID: <input type="text" name="checkedOutID"><br>
                    <input type="submit" value="Submit">
                </form>
            {{!-- <button type="button" id="button">Add</button> --}}
        </article>


        <article class="container" id="container">
            <h2>Gear</h2>
            <input type="text" placeholder="Filter by gear type">
            <button type="button" id="search-button">Search</button>

            <table style="width:100%" id="display-table">
            <thead>
                <th>Gear ID</th>
                <th>Last Service Date</th>
                <th>Type</th>
                <th>Checked Out by Employee ID</th>
            </thead>
            <tbody>
                {{#each gear}}
                <tr>
                    <td>{{gearID}}</td>
                    <td>{{lastServiceDate}}/td>
                    <td>{{gearType}}</td>
                    <td>{{checkedOutID}}</td>
                    <td><a href="/gear/{{gearID}}">Update</a></td>
                    <td><button onclick="deleteGear({{gearID}})">Delete</td>
                </tr>
                {{/each}}
            </tbody>
            </table>
        </article>

    </main>


</body>

</html>
