<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>75 Bugs Detected</title>
</head>

<body>
    <header class="header">
        <a href="/home">
            <h1 class="site-title">75 Bugs Detected</h1>
        </a>

        <nav class="navbar" id="top-navbar">
            <ul class="navlist" id="top-navbar-list">
                <li class="navitem navlink" id="top-navbar-item"><a href="/employees">Employees</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/customers">Customers</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/payments">Payments</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/services">Services</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/gear">Gear</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/certs">Certifications</a></li>
                <li class="navitem navlink" id="top-navbar-item"><a href="/assignments">Assignments</a></li>
            </ul>
        </nav>
    </header>

    <main class="big-container">


        <article class="container" id="container">
            <h2>Add Payment</h2>
            <form id="addpayment" action="/payments" method="post">
                Customer ID: <input type="text" name="customerID"><br>
                Date: <input type="text" name="date"><br>
                Amount: <input type="text" name="amount"><br>
                <input type="submit" value="Submit">
            </form>
            <button type="button" id="button">Add</button>
        </article>

        <article class="container" id="container">
            <h2>Mark Payment as Complete</h2>
            <input type="text" id="entry-box" placeholder="Search by Customer ID">
            <button type="button" id="search-button">Search</button><br>
            <button type="button" id="button">Delete</button>
        </article>


        <article class="container" id="container">
            <h2>Payments</h2>
            <input type="text" placeholder="Filter by Customer ID">
            <button type="button" id="search-button">Search</button>
            <input type="text" placeholder="Filter by first name">
            <button type="button" id="search-button">Search</button>
            <input type="text" placeholder="Filter by last name">
            <button type="button" id="search-button">Search</button><br>

            <table style="width:100%" id="display-table">
                <thead>
                    <th>Customer ID</th>
                    <th>paymentNum</th>
                    <th>Date</th>
                    <th>Amount</th>
                </thead>
                <tbody>
                    {{#each payments}}
                    <tr>
                        <td>{{customerID}}</td>
                        <td>{{paymentNum}}</td>
                        <td>{{paymentDate}}</td>
                        <td>{{amount}}</td>
                        <td><a href="/payments/{{paymentNum}}">Update</a></td>
                        <td><button onclick="deletePayment({{paymentNum}})">Delete</td>
                    </tr>
                    {{/each}}
                </tbody>

                <!-- <tr id="display-table-row">
                            <th id="display-table-item">ID Number</th>
                            <th id="display-table-item">First Name</th>
                            <th id="display-table-item">Last Name</th>
                            <th id="display-table-item">Phone Number</th>
                            <th id="display-table-item">Payment Method</th>
                            <th id="display-table-item">Hours Worked</th>
                        </tr>
                        <tr id="display-table-row">
                            <td id="display-table-item">1</td>
                            <td id="display-table-item">John</td>
                            <td id="display-table-item">Smith</td>
                            <td id="display-table-item">503-555-5555</td>
                            <td id="display-table-item">DD</td>
                            <td id="display-table-item">100</td>
                        </tr> -->
            </table>

    </article>




        {{!-- <article class="container" id="container">
            <h2>Payments</h2>
            <input type="text" placeholder="Filter by customer ID">
            <button type="button" id="search-button">Search</button>

            <table style="width:100%" id="display-table">
                <tr id="display-table-row">
                    <th id="display-table-item">Payment Number</th>
                    <th id="display-table-item">Customer ID</th>
                    <th id="display-table-item">Date</th>
                    <th id="display-table-item">Amount</th>
                </tr>
                <tr id="display-table-row">
                    <td id="display-table-item">1</td>
                    <td id="display-table-item">2</td>
                    <td id="display-table-item">01/01/2021</td>
                    <td id="display-table-item">50.00</td>
                </tr>
            </table>

        </article> --}}

    </main>


</body>

</html>
